@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

:root{
  --bg-color: #f1ebe5;
  --primary-color: #b79b7e;
  --white-color: #fff;
  --text-color: #171717;
}

[data-theme="dark"]{

}

body{
  background-color: var(--bg-color);
}

.btn{
  padding: 10px 18px;
  border-radius: 20px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--primary-color);
}

/* NavBar */
.blurry{
  background-color: rgba(0,0,0, 0.08);
  backdrop-filter: blur(10px);
}

header{
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5pc;
  margin: 30px 30px 0 ;
  border: 1px solid rgba(0,0,0, 0.05);
  border-radius: 45px;
}
nav a{
    font-weight: 500;
    font-size: 15px;
    margin-left: 20px;
    color: var(--text-color);
    transition: .3s ease;
    &:hover{
        color: var(--primary-color);
    }
}


footer{
  text-align: center;
}

main{
  padding:9pc 3pc 2pc;
}


/* Home Page */

.home-hero{
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-hero h1{
  font-size: 50px;
  max-width: 500px;
  line-height: 100%;
}
.home-hero h4{
  max-width: 500px;
  font-weight: 400;
  /* line-height: 100%; */
  margin: 1pc 0 1.5pc;
}

.home-hero span{
  color: var(--primary-color);
}

/* About Page */

.about-hero h1{
  text-align: center;
}
.about-details{
  margin-top: -3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-text{
  border-right: 1px solid rgba(0,0,0, 0.1);
  font-size: 14px;
  padding-right: 2pc;
  max-width: 50%;
}
.about-img{
  position: sticky;
}

/* Contact Page */
.contact-hero h1{
  text-align: center;
}
.contact-details{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.contact-info{
  border-right: 1px solid rgba(0,0,0, 0.1);
  font-size: 14px;
  padding-right: 2pc;
  max-width: 50%;
}
.contact-sp-details{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.contact-sp-details span{
  padding: 5px 10px;
  display: flex;
}
.contact-sp-details span i{
  margin-right: 15px;
  font-size: 30px;
  color: var(--primary-color);
}
.contact-details form{
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  padding: 1.5pc;
  border-radius: 20px;
}
form span{
  text-align: center;
  font-weight: 700;
  font-size: 20px;

}
.input-box{
  width: 250px;
  margin-bottom: 10px;
}

.input-box input{
  height: 50px;
  width: 100%;
}
.input-box input, .input-box textarea{
  font-size: 12px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.5);
  outline: none;
}

.input-box textarea{
  resize: none;
  height: 90px;
  width: 100%;
}
form p{
  font-size: 8px;
  max-width: 200px;
}
.contact-btn{
  padding: 10px 0;
  display: flex;
  justify-content: end;
}